@model puck.core.Base.BaseTask
@{
    Layout = null;    
}
<div class="container_12 settings">
    <div class="grid_10 push_1">
@using (Html.BeginForm("Edit", "Task", new { p_type = Model.GetType().AssemblyQualifiedName }, FormMethod.Post))
{
    @Html.EditorForModel()
    <button class="task_update btn btn-link">update</button>
}
</div>
</div>