<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/areas/admin/assets/css/Site.css" />
        <script src="~/areas/admin/assets/js/modernizr-2.5.3.js"></script>
        <script src="~/areas/admin/assets/js/jquery-1.7.1.js"></script>
        <script src="~/areas/admin/assets/js/jquery-ui-1.8.20.js"></script>
        <script src="~/areas/admin/assets/js/jquery.validate.js"></script>
        <script src="~/areas/admin/assets/js/jquery.validate.unobtrusive.js"></script>
                

    </head>
    <body>
        @RenderBody()        
    </body>
</html>
