@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="Stylesheet" href="~/areas/admin/assets/css/Site.css" />
        <link rel="Stylesheet" href="~/areas/admin/assets/css/960_12_col.css" />
        <link href="~/areas/admin/assets/css/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet" />
        <link rel="Stylesheet" href="~/areas/admin/assets/css/bootstrap.css" />
        <link rel="Stylesheet" href="~/areas/admin/assets/css/bootstrap-responsive.css" />
        <link rel="Stylesheet" href="~/areas/admin/assets/css/themes/base/jquery-ui.css" />
        
        <script type="text/javascript" src="~/areas/admin/assets/js/wysihtml5-0.3.0_rc2.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/bootstrap-wysihtml5-0.0.2.js"></script>
        
        <script type="text/javascript" src="~/areas/admin/assets/js/jquery-ui-1.8.20.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/jquery.validate.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/modernizr-2.5.3.js"></script>
        <script type="text/javascript" src="~/areas/admin/assets/js/jquery-ui-timepicker-addon.js"></script>
        
    </head>
    <body>
        @RenderBody()
        @MiniProfiler.RenderIncludes(position: RenderPosition.Left, showTrivial: false, showTimeWithChildren: false, startHidden: false)
    </body>
</html>
