@model puck.core.Base.BaseModel

@{
    Layout=null;
    ViewBag.Level0Type = Model.GetType();
}
<div class="content_edit_page">
@using (Html.BeginForm("Edit", "Api", new {p_type=Model.GetType().AssemblyQualifiedName,p_path=Request["p_path"] }, FormMethod.Post))
{
    @Html.EditorForModel()
    
    <button title="preview" class="content_preview content_btns"><i class="icon-eye-open"></i></button>
    <button title="update" class="content_update content_btns"><i class="icon-edit"></i></button>
    <button title="publish" class="content_publish content_btns"><i class="icon-check"></i></button>
}
</div>