@{
    Layout = null;
    List<Type> types; 
    if(string.IsNullOrEmpty(Request["type"])){
        types = ApiHelper.Models(true);
    }else{
        types = ApiHelper.AllowedTypes(Request["type"]);  
    }    
    var variants = ApiHelper.Variants();    
}
<div class="create_dialog">
    <div class="grid_3 push_1">
        <div class="typecontainer">
            <label>Type</label>
            <select name="type">
                @foreach(var t in types){
                    <option value="@t.AssemblyQualifiedName">@t.Name</option>
                }
            </select>
        </div>
        <div class="variantcontainer">
            <label>Variant</label>
            <select name="variant">
                @foreach(var v in variants){
                    <option value="@v.Key">@v.FriendlyName</option>
                }
            </select>
        </div>
        <div>
            <button class='btn-link'>Create</button>
        </div>        
    </div>
</div>
