@{
    Layout = null;
    List<Type> types; 
    if(string.IsNullOrEmpty(Request["type"])){
        types = ApiHelper.Models(false);
    }else{
        types = ApiHelper.AllowedTypes(Request["type"]);
        if(types.Count==0){
            types = ApiHelper.Models(false);
        }
    }    
    var variants = ApiHelper.Variants();    
}
<div class="create_dialog settings">
    <div class="grid_3 push_1">
        <div class="typecontainer fieldwrapper">
            <label>Type</label>
            <select name="type">
                @foreach(var t in types){
                    <option value="@t.AssemblyQualifiedName">@t.Name</option>
                }
            </select>
        </div>
        <div class="variantcontainer fieldwrapper">
            <label>Variant</label>
            <select name="variant">
                @foreach(var v in variants){
                    <option value="@v.Key.ToLower()">@v.FriendlyName</option>
                }
            </select>
        </div>
        <div>
            <button class='btn-link'>Create</button>
        </div>        
    </div>
</div>
