@model string
@{
    Layout = null;    
}
@using (Html.BeginForm("DomainMapping", "Api", new {path=Request["path"] }, FormMethod.Post))
{
    <div class="">
        <div class="grid_3 push_1">
            <b>@Request["path"]</b><br />
            <label for="variant">Domain Mappings (csv)</label>
            <input name="domains" value="@Model" type="text" />
            <br />
            <button class="btn btn-primary">save</button>
        </div>
    </div>
}