@{
    ViewBag.Title = "Puck";
}
<h1 class="master">Puck</h1>

<div class="main grid container_12">
    <div class="grid_12 menutop">
        <ul>
            <li><a class='content' href="/admin"><i class="icon-home"></i></a></li>
            <li><a class='settings' href="/"><i class="icon-cog"></i></a></li>
            <li><a class='users' href="/"><i class="icon-user"></i></a></li>
        </ul>
    </div>
    <div class="grid_3 alpha leftarea">
        <button class="create_default btn btn-link"><i class="icon-plus-sign"></i>&nbsp;create</button>
        <ul class="content">
            <li class="node" data-children_path=""></li>
        </ul>
        <div class="btn-group node-dropdown">
            <ul class="dropdown-menu">
                <li><a href="#" data-action="create"><i class="icon-plus-sign"></i> Create</a></li>
                <li><a href="#" data-action="translate"><i class="icon-file"></i> Translation</a></li>
                <li><a href="#" data-action="delete"><i class="icon-trash"></i> Delete</a></li>
                <li><a href="#" data-action="publish"><i class="icon-book"></i> Publish</a></li>
                <li><a href="#" data-action="unpublish"><i class="icon-ban-circle"></i> Unpublish</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="i"></i> Make admin</a></li>
            </ul>
        </div>
    </div>
    <div class="grid_9 rightarea">
        <div class="grid_9 alpha omega message">
        
        </div>
        <div class="grid_9 alpha omega content">
            
        </div>
    </div>
</div>

<script src="~/areas/admin/assets/js/puck.js" type="text/javascript"></script>
