@using System.IO
@model String

@{
    var views = ApiHelper.Views();
    <select name="@ViewData.ModelMetadata.PropertyName">
        @foreach(var f in views){
            var selected =string.IsNullOrEmpty(Model)?false: Model.ToLower().Equals(ApiHelper.ToVirtualPath(f.FullName).ToLower());
            <option @(selected?"selected":"") value="@ApiHelper.ToVirtualPath(f.FullName)">
                @f.Name
            </option>
        }
    </select>
}