@model string
@using System.Globalization;
@{
    var variants = ApiHelper.Variants();
}
<select name="@ViewData.ModelMetadata.PropertyName" class="defaultlanguage">
    @foreach(var v in variants){
        var selected = !string.IsNullOrEmpty(Model) && Model.ToLower().Equals(v.Key.ToLower());
        <option @(selected?"selected":"") value="@v.Key.ToLower()">@v.FriendlyName</option>
    }
</select>