@using System.IO
@model String

@{
    var views = ApiHelper.Views();
    <select name="@ViewData.ModelMetadata.PropertyName">
        @foreach(var f in views){
            <option value="@ApiHelper.ToVirtualPath(f.FullName)">
                @f.Name
            </option>
        }
    </select>
}